* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  color: white;
  height: 60px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
nav ul {
  list-style-type: none;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: "Roboto", sans-serif;
}
.box{
border: 2px solid rgb(0, 0, 0);
font-size: 8vw;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.box:hover{
background-color: rgb(210, 216, 235);
}
.gameInfo{
    padding:0 34px;
}
img{
    width: 0;
    transition: width 1s ease-in-out ;
}

.br-0{
    border-right:0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top:0;
}
.bb-0{
    border-bottom:0;
}
#reset{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*Button Color*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
/* #reset:active {/*on Click*/
    /* -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    /* border-bottom: none;disappears */ 
    /* font-family: "Roboto Condensed", sans-serif;
    font-weight: bold; */
/* } */
.info{
    font-size: x-large;
    font-family: "Roboto Condensed", sans-serif;

}
